* {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: black;
  color: white;
  font-weight: 700;
  position: sticky;
  top: 0;
}

.wrapper {
  max-width: 1200px;
  margin-inline: auto;
  padding-block: 32px;
}

.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: 12px;
}

.nav__menuWrapper {
  display: flex;
  gap: 24px;
  align-items: baseline;
}

.main__media > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

#section1 {
  text-align: center;
}
#section1 .main__text {
  margin-inline: auto;
  max-width: 600px;
  margin-bottom: 24px;
}
#section1 .main__media {
  aspect-ratio: 16/9;
}
#section1 h2 {
  margin-bottom: 16px;
}
#section1 p {
  margin-bottom: 24px;
}

#section2 .wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}
#section2 .wrapper > * {
  flex: 1;
}
#section2 .main__media .img > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 4/3;
}
#section2 h2 {
  margin-bottom: 16px;
}
#section2 p {
  margin-bottom: 24px;
}
